#navbar {
  background-color: ghostwhite;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid lightslategray;
  margin-bottom: 45px;
  font-family: 'Lato', sans-serif;
}

#name {
  background-color: steelblue;
  text-align: center;
  padding-top: 15px;
  width: 200px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 18%;
}


.bod {
  width: 960px;
  height: 600px;
  margin-left: 18%;
  background-color: ghostwhite;
  font-family: 'Lato', sans-serif;

}

.title {
  font-size: 24px;
  padding-top: 25px;
  padding-left: 35px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: solid lightslategray;
  color: steelblue;
  font-weight: bold;
}



.image {
  float: left;
}

#me {
  width: 250px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

  }

#message {
  height: 200px;
}

#forms {
  margin-left: 35px;
  margin-right: 35px;
}

.Pimage {
  height: 250px;
  width: 250px;
  float: left;
  margin-left: 35px;
  margin-bottom: 35px;
  position: relative;
  display: inline-block
}

img {
  height: 250px;
  width: 250px;
}

.Pimage .label {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 70%;
  text-align: center;
  background-color: steelblue;
  height: 50px;
  padding-top: 25px;
  color: white
}

a {
  color: slategray;
  text-decoration: none
}

#links {
  margin-top: 15px;
  margin-right: 20%;
}

button {
    background-color: steelblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

/* 980px */
@media screen and (max-width: 980px) {
  #name {
    margin-left: 5%;
  }

  #links {
    margin-right: 5%;
  }

  .bod {
    margin-left: 5%;
    width: 100%;
  }

  .title {
    width: 100%;
}


/* 768px */
@media screen and (max-width: 768px) {
  #name {
    margin-left: 5%;
  }

  #links {
    margin-right: 5%;
  }

  .bod {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }

  .title {
    width: 100%;
  }
}


/* 640px */
@media screen and (max-width: 640px) {
  #name {
    margin-left: 0;
  }

  #links {
    margin-right: 0;
  }

  .bod {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .title {
    width: 100%;
  
}